Source: linuxinfo
Section: utils
Priority: optional
Maintainer: Helge Kreutzmann <debian@helgefjell.de> 
Build-Depends: debhelper (>= 9), autotools-dev, po4a
Standards-Version: 4.1.3
Homepage: http://www.helgefjell.de/linuxinfo.php

Package: linuxinfo
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Displays extended system information
 Displays system info, such as kernel revision, glibc version,
 processor type and memory size, in general by parsing /proc/cpuinfo.
